replicaCount: 3

resources:
  limits:
    cpu: 200m
    memory: 100Mi
  requests:
    cpu: 200m
    memory: 100Mi

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: k8s-app
              operator: In
              values:
                - kube-dns
        topologyKey: kubernetes.io/hostname

service:
  clusterIP: 10.43.0.10
  name: kube-dns
  annotations:
    prometheus.io/port: "9153"
    prometheus.io/scrape: "true"

servers:
  - zones:
      - zone: .
    port: 53
    plugins:
      - name: errors
      - name: health
        config:
          port: 8080
      - name: ready
      - name: kubernetes
        parameters: cluster.local in-addr.arpa ip6.arpa
        config:
          pods: insecure
          fallthrough: in-addr.arpa ip6.arpa
          ttl: 30
      - name: prometheus
        parameters: 0.0.0.0:9153
      - name: forward
        parameters: . /etc/resolv.conf
      - name: cache
        parameters: 30
      - name: loop
      - name: reload
      - name: loadbalance