apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: grafana-postgres
  namespace: grafana
spec:
  instances: 3
  
  storage:
    size: 5Gi
    storageClass: local-path
  
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi

  bootstrap:
    initdb:
      database: grafana
      owner: grafana
      secret:
        name: grafana-db-pass-secret

