- name: Deploy RabbitMQ Cluster (using Cluster Operator)
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Create RabbitMQ namespace
      kubernetes.core.k8s:
        kind: Namespace
        name: rabbitmq
        state: present
    
    - name: Deploy RabbitMQ cluster
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: rabbitmq.com/v1beta1
          kind: RabbitmqCluster
          metadata:
            name: rabbitmq-cluster
            namespace: rabbitmq
          spec:
            replicas: 3
            image: rabbitmq:3.13.0
            persistence:
              storageClassName: local-path
              storage: 10Gi
            resources:
              limits:
                cpu: 300m
                memory: 768Mi
              requests:
                cpu: 100m
                memory: 256Mi
            rabbitmq:
              additionalConfig: |
                cluster_formation.peer_discovery_backend = k8s
                cluster_formation.k8s.host = kubernetes.default.svc
                cluster_formation.k8s.address_type = hostname
                cluster_formation.k8s.hostname_suffix = .rabbitmq-cluster.rabbitmq.svc.cluster.local
                default_user = {{ lookup('env', 'RABBITMQ_DEFAULT_USER') }}
                default_pass = {{ lookup('env', 'RABBITMQ_DEFAULT_PASS') }}
              additionalPlugins:
                - rabbitmq_prometheus # RabbitMQ exporter for metrics. Exposes on port 15692
      no_log: true
