- name: Deploy Victoria Metrics
  hosts: localhost
  connection: local
  gather_facts: false

  pre_tasks:
    - name: Ensure required environment variables
      ansible.builtin.assert:
        that:
          - lookup('env', 'KUBECONFIG') != ''
          - lookup('env', 'HELM_CHARTS_PATH') != ''
        fail_msg: "KUBECONFIG and HELM_CHARTS_PATH environment variables must be set"

  tasks:
    - name: Deploy Victoria Metrics
      kubernetes.core.helm:
        name: victoria-metrics
        chart_ref: oci://ghcr.io/victoriametrics/helm-charts/victoria-metrics-cluster
        chart_version: "0.31.0"
        release_namespace: victoria-metrics
        create_namespace: true
        wait: true
        timeout: 5m
        values_files:
          - "{{ lookup('env', 'HELM_CHARTS_PATH') }}/victoria-metrics/values.yml"

