- name: Generate Inventory
  hosts: localhost
  connection: local
  gather_facts: false

  pre_tasks:
    - name: Ensure required environment variables
      ansible.builtin.assert:
        that:
          - lookup('env', 'ANSIBLE_HOSTS') != ''
          - lookup('env', 'ANSIBLE_USER') != ''
        fail_msg: "ANSIBLE_HOSTS and ANSIBLE_USER environment variables must be set"

  vars:
    ansible_hosts: "{{ lookup('env', 'ANSIBLE_HOSTS') }}"
    ansible_user: "{{ lookup('env', 'ANSIBLE_USER') }}"
    ansible_ssh_private_key_file: "{{ lookup('env', 'ANSIBLE_SSH_PRIVATE_KEY_FILE') | default('', true) }}"
  tasks:
    - name: Generate inventory file
      ansible.builtin.template:
        src: inventory.j2
        dest: "/workspace/ansible/inventory.ini"
        mode: 0644
