- name: Generate Inventory
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    ansible_hosts: "{{ lookup('env', 'ANSIBLE_HOSTS') }}"
    ansible_user: "{{ lookup('env', 'ANSIBLE_USER') }}"
    ansible_ssh_private_key_file: "{{ lookup('env', 'ANSIBLE_SSH_PRIVATE_KEY_FILE') | default('', true) }}"
  tasks:
    - name: Ensure /workspace/ansible directory exists
      ansible.builtin.file:
        path: /workspace/ansible
        state: directory
        mode: "0755"

    - name: Generate inventory file
      ansible.builtin.template:
        src: inventory.j2
        dest: "/workspace/ansible/inventory.ini"
        mode: "0644"
