# K3s Cluster Configuration Variables
# These variables are used by the bootstrap-k3s.yaml playbook

k3s_release_version: v1.35.0+k3s1
k3s_token: "{{ lookup('env', 'K3S_TOKEN') }}"
k3s_build_cluster: true
k3s_etcd_datastore: true

k3s_server_args:
  - --disable=servicelb # Disable ServiceLB to eliminate svclb-traefik pods and use direct host networking
  - --disable-cloud-controller # Prevents K3s from trying to "talk" to a cloud provider that doesn't exist for bare metal nodes
  - --disable=coredns