name: Manual Build Pipeline

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Dockerfile.ansible.prod
        uses: ./.github/actions/build-image
        with:
          image-name: ansible-prod
          dockerfile-path: ./Dockerfile.ansible.prod
          github-token: ${{ secrets.GITHUB_TOKEN }}
