# Victoria Metrics Cluster Configuration

# Use shorter names to avoid K8s naming limits
fullnameOverride: "vm"
nameOverride: "vm"

# Cluster components configuration
vminsert:
  replicaCount: 1
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
  extraArgs:
    envflag.enable: "true"
    envflag.prefix: VM_
    loggerFormat: json

vmselect:
  replicaCount: 1
  resources:
    limits:
      cpu: 200m
      memory: 384Mi
    requests:
      cpu: 50m
      memory: 256Mi
  extraArgs:
    envflag.enable: "true"
    envflag.prefix: VM_
    loggerFormat: json

vmstorage:
  replicaCount: 1
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 384Mi
  extraArgs:
    envflag.enable: "true"
    envflag.prefix: VM_
    loggerFormat: json
    retentionPeriod: "30d"
  persistentVolume:
    enabled: true
    storageClassName: local-path
    size: 20Gi

